
<main ui-view="compMain" class="comp-main">
	<section class="banner swiper-container">
		<!-- Additional required wrapper -->
		<div class="swiper-wrapper">
			<!-- Slides -->
			<div class="swiper-slide slide1">
				<h1>Waiting for cool banner</h1>
			</div>
			<div class="swiper-slide slide2"><h1>Waiting for 2017</h1></div>
			<div class="swiper-slide slide3"><h1>Waiting for better life</h1></div>
		</div>
	</section>
	<section ng-show="compStoreVm.showNavi" class="comp-navi">
		<form name="naviForm" class="input-row">
			<div class="logo-bg"><h4 t>res:Component Store</h4></div><!--
		--><i class="fa fa-2x fa-search" aria-hidden="true"></i>
		<div class="quick-search"><input autocomplete="false" placeholder="{{compStoreVm.quickSearch}}"
				type="text" ng-model="compStoreVm.nameSearch"/></div><!--
		-->
		</form>
	</section>
	<section class="error-msg" ng-if="compStoreVm.error">{{ compStoreVm.error }}</section>
	<div dr-loading-indicator="compStore"></div>
	<comp-group card-min-width="250" on-change-card-width="compStoreVm.cardWidth = width">
		<comp-card id="comp-{{pk.name}}" card-width="compStoreVm.cardWidth"
			on-select="compStoreVm.trackSelectedCard(name)"
			ng-repeat="pk in compStoreVm.packages" package="pk"></comp-card>
	</comp-group>
</main>
