<section ng-show="compStoreVm.showNavi" class="comp-navi">
	<div class="vertical-line"></div>
	<h2 class="logo-bg"><span t>res:Component Store</span></h2>
	<form name="naviForm">
		<div class="input-row">
			<input class="quick-search" autocomplete="false" placeholder="{{compStoreVm.quickSearch}}"
				type="text" ng-model="compStoreVm.nameSearch"/>
			<i class="fa fa-search" aria-hidden="true"></i>
		</div>
	</form>
</section>
<main ui-view="compMain" class="comp-main">
	<section class="error-msg" ng-if="compStoreVm.error"><pre>{{ compStoreVm.error }}</pre></section>
	<section class="banner" ng-show="compStoreVm.banner"></section>
	<comp-group>
		<div class="center-container">
			<comp-card ng-repeat="pk in compStoreVm.packages" package="pk"></comp-card>
		</div>
	</comp-group>
</main>
