dr-doc-spinner{
	z-index: 99999;
	position: absolute;
	top: 0;
	left: 0;
	text-align: center;
	div {
		color: white;
		margin: 14px;
		background-image: url(assets://@dr/doc-ui/spin.svg);
		width: 36px;
		height: 36px;
	}
	.spinning {
		animation: spin 1s linear 0s infinite normal;
	}
}

@keyframes spin{
	0% {transform: rotateZ(0deg);}
	100% {transform: rotateZ(360deg);}
}