<!doctype html>
<html>
	<header>
		<title>A package example</title>
	</header>
	<body>
		<p>Now it is in a server-side renderred template:</p>
		<code>{= path =} </code></p>
		<h1>{= words =}</h1>
		<script src="/static/js/core.js"></script>
		<script src="/static/js/devmode.js"></script>
		<script src="/static/js/example.js"></script>
		<script>
		//console.log('external require @dr/example-common module: ' + require('@dr/example-common'));
		//console.log('external require @dr/example-dr module: ' + require('@dr/example-dr'));
		</script>
	</body>
</html>
