<!doctype html>
<html>

<head>
	<title>Example page</title>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
</head>

<body>
	<h3>Message from server template:</h3>
	<pre>{= message =}</pre>

	Included swig tempalte file includedPage.html:
	{% include "includedPage.html" %}
	<h3>Included swig tempalte file npm://@dr/example-common/commonView.html : </h3>
	{% include "npm://@dr/example-common/commonView.html"%}
	<h3>Use variable "Swig is dead"</h3>
	{% set repeatRenderMsg = "Swig is dead" %}
	{= __renderFile(toRenderFile) =}
</body>

</html>
