//require("babel-polyfill");
<% if (lrEnabled) { %>
var livereload = document.createElement('script');
livereload.type='text/javascript';
livereload.async = true;
livereload.src = 'http://' + (location.host || 'localhost').split(':')[0] + ':<%= lrPort %>/livereload.js';
var s = document.getElementsByTagName('script')[0];
s.parentNode.insertBefore(livereload, s);
<% } %>
window.__req = __webpack_require__;
var _lego_entryFuncs = {
<%
var last = packages.length - 1;
[].concat(packages).forEach((pk, idx) =>  {%>
	'<%=pk.longName%>': function() {return require('<%=pk.longName%>');} <% if (idx !== last) {%>,<%}%>
<% }); %>};
window._reqLego = function(name) {
  return _lego_entryFuncs[name]();
};
<% for (var requireHtmlName of requireHtmlNames) { %>
require('<%=requireHtmlName%>');
<% } %>
<% for (var requireViewName of requireViewNames) { %>
require("<%=requireViewName%>");
<% } %>
