.screen-dev {
    background: #eee;
    min-height: 50vh;
    font-size: 1.71rem;
    i {
        font-size: 80px !important;
        transition-duration: 1s;
        opacity: 1;
        z-index: 10;
        &:before {
            background-color: transparent !important;
            border-radius: 0 !important;
            color: #666;
        }
    }
    .dev-svg {
        position: absolute;
        width: 90%;
        left: 0;
        top: 24%;
        opacity: 1;
        transition-duration: 1s;
    }
    .people1 {
        position: absolute;
        left: 10%;
        top: 30%;
        &:before {
            color: #e91e63;
        }
    }
    .people2 {
        position: absolute;
        left: 10%;
        bottom: 20%;
        &:before {
            color: #e91e63;
        }
    }
    .bitbucket1 {
        font-size: 130px !important;
        position: absolute;
        left: 16%;
        top: 27%;
        &:before {
            color: #607d8b;
        }
    }
    .bitbucket2 {
        font-size: 130px !important;
        position: absolute;
        left: 16%;
        bottom: 17%;
        &:before {
            color: #607d8b;
        }
    }
    .lap-light {
        position: absolute;
        left: 45%;
        top: 25%;
        width: 200px;
    }
    .laptop {
        font-size: 500% !important;
        left: 0%;
        top: 26%;
        position: relative;
        &:before {
            color: #00BCD4;
        }
    }
    .light {
        position: relative;
        left: -52%;
        top: -115px;
        &:before {
            color: #FFEB3B;
            transition-duration: 0.5s;
        }
    }
    .light-up {
        top: -12px;
        &:before {
            color: #2196F3;
        }
    }
    .chrome {
        font-size: 500% !important;
        position: absolute;
        right: 10%;
        top: 26%;
        &:before {
            color: #00bfa4;
        }
    }
    .jsfiddle {
        font-size: 600% !important;
        position: absolute;
        right: 8%;
        bottom: 18%;
        &:before {
            color: #2196F3;
        }
    }
    .text {
        position: absolute;
        transition-duration: 1s;
    }
    .text1 {
        top: 30%;
        left: 28%;
    }
    .text2 {
        top: 30%;
        left: 63%;
    }
    .text3 {
        top: 50%;
        left: 28%;
        transform: rotate(-40deg);
    }
    .text4 {
        top: 50%;
        right: 28%;
        transform: rotate(40deg);
    }
    .text5 {
        bottom: 30%;
        left: 45%;
    }
    .text-laptop {
        left: 50%;
        margin-left: -110px;
        width: 200px;
        top: 100%;
    }
    .hide {
        opacity: 0;
    }
}