@import "npm://@dr/doc-less-var";

.doc-home {

	overflow-x: auto;
	overflow-y: auto;
	.loading-hide {
		//opacity: 0;
		visibility: hidden;
		&.show {
			//opacity: 1;
			visibility: visible;
		}
	}
	@import "aside.less";
	@import "mainSection.less";
	@import "animate.less";
	@import "dr-scrollable-anim.less";
	@import "docSection.less";
	// override dr less
	h1, h2 {
		> span {
			top: 0;
			position:static;
		}
	}
}
