comp-group {
	display: block;
	text-align: left;
	position: relative;
	.center-container {
		display: inline-block;
		text-align: left;
		position: relative;
	}
}
.size-mobile {
	comp-group {
		padding: 0 @dr-unit-half;
	}
}
