@cd-header-height: @dr-unit-triple;

.comp-detail-header {
	display: block;
	padding: 0 @dr-unit-half;
	.dr-blue-green-bg();
	height: @cd-header-height;
	overflow: hidden;
	color: @dr-white;
	button {
		height: @cd-header-height;
		color: @dr-white;
		float: left;
		margin-right: @dr-unit;
		display: block;
		.fa {
			line-height: @cd-header-height;
		}
	}
	h2 {
		display: block;
		overflow: hidden;
		line-height: @cd-header-height;
		margin: 0;
	}
}
