<div class="screen screen-bground"></div>
<div class="screen dr-bg-lite ">
	<div class="center-box">
		<h1 class="t"
			dr-split-text-show="mainVm.animStart" timeline="mainVm.screen1Timeline" on-split-done="mainVm.loaded = true">
			是时候做一件奇怪的事情了
		</h1>
		<h1 class="t" timeline="mainVm.screen1Timeline" timeline-pos="+=3"
			dr-split-text-show="mainVm.animTimeline">
			我们要做一个<strong class="keyword">平台</strong>
		</h1>
	</div>
</div>
<div class="screen">
	<div class="center-box">
		<h1 dr-split-text on-split-done="" dr-text-anim="false" class="t"></h1>
		<h1 dr-split-text on-split-done="" dr-text-anim="false" class="t">我们的business在boomming</h1>
		<h1 dr-split-text on-split-done="" dr-text-anim="false" class="t">我们有不同的team, 我们有talents</h1>
		<h1 dr-split-text on-split-done="" dr-text-anim="false" class="t">却很难合作和分享我们cool shit</h1>
	</div>
</div>
<div class="screen">
	<h1 dr-text-anim="false" class="t">可以像一个社区的一样的协作</h1>
	<h1 dr-text-anim="false" class="t">NPM</h1>
</div>
<div class="screen">
</div>
