//@dr-navi-aside-width: 240px;
@dr-navi-menu-item-height: @dr-unit-triple;
.dr-navi-aside {
	//width: @dr-navi-aside-width;
	overflow-x: hidden;
	overflow-y: auto;
	height: 100%;
	//position:absolute;
	min-width: @dr-unit-triple;
	.dr-menu {
		.dr-button {
			color: @dr-white;
			white-space: nowrap;
			height: @dr-navi-menu-item-height;
			background-color: transparent;
			padding: 0;
			i {
				display: inline-block;
				//line-height: @dr-navi-menu-item-height;
				text-align: center;
			}
			span {
				display: inline-block;
			}
			.dr-mixin-noround();
		}

		li {
			> button,
			> a {
				&:hover,
				&:focus {
					background-color: @dr-green-darker;
				}
			}
			&.dr-checked {
				> button,
				> a {
					background-color: @dr-green;
					&:focus:before {
						background-color: @dr-green-dark;
					}
				}
			}
		}
	}
}

