<div class="screen screen-computer">
  <div class="centerdevices">
    <div class="computerwrapper">
      <div class="computer">
        <div class="mask">
            <div class="editor-window">
              <pre>
                <code>
<span class="editor-prefixed" dr-text-anim="introVm.showScreen2Text" duration="1" timeline="introVm.screen2Timeline">npm install gulp-cli -g</span>
<span class="editor-prefixed" dr-text-anim="introVm.showScreen2Text" duration="1" timeline="introVm.screen2Timeline">npm install gulp -D</span>
<span class="editor-prefixed" dr-text-anim="introVm.showScreen2Text" duration="1" timeline="introVm.screen2Timeline">touch gulpfile.js</span>
<span class="editor-prefixed" dr-text-anim="introVm.showScreen2Text" duration="1" timeline="introVm.screen2Timeline">gulp --help</span>
                </code>
              </pre>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
