<div class="screen screen-computer">
  <header t>开发</header>
  <div class="centerdevices">
    <div class="computerwrapper">
      <div class="computer">
        <div class="mask">
            <div class="editor-window">
              <pre>
                <code>
<span class="editor-comment"># 第一配置开发环境</span>                
<span class="editor-prefixed" dr-text-anim="introVm.showScreen2Text" duration="1" timeline="introVm.screen2Timeline">npm set registry http://npm.dianrong.com</span>
<span class="editor-prefixed" dr-text-anim="introVm.showScreen2Text" duration="1" timeline="introVm.screen2Timeline">npm install -g dr-comp-package-cli</span>
<span class="editor-comment"># 创建workspace</span>
<span class="editor-prefixed" dr-text-anim="introVm.showScreen2Text" duration="1" timeline="introVm.screen2Timeline">mkdir workspace</span>
<span class="editor-prefixed" dr-text-anim="introVm.showScreen2Text" duration="1" timeline="introVm.screen2Timeline">cd workspace</span>
<span class="editor-prefixed" dr-text-anim="introVm.showScreen2Text" duration="1" timeline="introVm.screen2Timeline">npm install dr-comp-package</span>
<span class="editor-prefixed" dr-text-anim="introVm.showScreen2Text" duration="1" timeline="introVm.screen2Timeline">drcp project -a myproject1 -a myproject2</span>
<span class="editor-prefixed" dr-text-anim="introVm.showScreen2Text" duration="1" timeline="introVm.screen2Timeline">npm install</span>
<span class="editor-comment"># 启动本地开发模式</span>
<span class="editor-prefixed" dr-text-anim="introVm.showScreen2Text" duration="1" timeline="introVm.screen2Timeline">node app --ww</span>
                </code>
              </pre>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
