<div class="screen screen-dev" ng-click="devGo(devStep)">
	<i class="fa fa-users people1 hide" aria-hidden="true" ng-class="{'hide':dev.people1}"></i>
	<i class="fa fa-users people2 hide" aria-hidden="true" ng-class="{'hide':dev.people2}"></i>
	<i class="fa fa-bitbucket bitbucket1 hide" aria-hidden="true" ng-class="{'hide':dev.bitbucket1}"></i>
	<i class="fa fa-bitbucket bitbucket2 hide" aria-hidden="true" ng-class="{'hide':dev.bitbucket2}"></i>
	<div class="lap-light">
		<i class="fa fa-laptop laptop hide" aria-hidden="true" ng-class="{'hide':dev.laptop}"></i>
		<div class="text text-laptop  hide" ng-class="{'hide':dev.laptop}">work...</div>
		<i class="fa fa-lightbulb-o light light-up hide" aria-hidden="true" ng-class="{'hide':dev.light,'light-up':dev.light}"></i>
	</div>
	<i class="fa fa-file-code-o chrome hide" aria-hidden="true" ng-class="{'hide':dev.chrome}"></i>
	<i class="fa fa-jsfiddle jsfiddle hide" aria-hidden="true" ng-class="{'hide':dev.jsfiddle}"></i>
	<div class="text text1 hide" ng-class="{'hide':dev.arrow1}">git checkout</div>
	<div class="text text2 hide" ng-class="{'hide':dev.arrow2}">compile</div>
	<div class="text text3 hide" ng-class="{'hide':dev.arrow3}">git checkout</div>
	<div class="text text4 hide" ng-class="{'hide':dev.arrow4}">npm install</div>
	<div class="text text5 hide" ng-class="{'hide':dev.arrow5}">npm publish</div>
	<img class="dev-svg hide" src="assets://@dr/doc-home/dev/arrow1.svg" ng-class="{'hide':dev.arrow1}">
	<img class="dev-svg hide" src="assets://@dr/doc-home/dev/arrow2.svg" ng-class="{'hide':dev.arrow2}">
	<img class="dev-svg hide" src="assets://@dr/doc-home/dev/arrow3.svg" ng-class="{'hide':dev.arrow3}">
	<img class="dev-svg hide" src="assets://@dr/doc-home/dev/arrow4.svg" ng-class="{'hide':dev.arrow4}">
	<img class="dev-svg hide" src="assets://@dr/doc-home/dev/arrow5.svg" ng-class="{'hide':dev.arrow5}">
</div>
