<div class="screen screen-dev" >
	<i class="fa fa-users people1 " aria-hidden="true"></i>
	<i class="fa fa-users people2 " aria-hidden="true"></i>
	<i class="fa fa-bitbucket bitbucket1 " aria-hidden="true"></i>
	<i class="fa fa-bitbucket bitbucket2 " aria-hidden="true"></i>
	<div class="lap-light">
		<i class="fa fa-laptop laptop " aria-hidden="true"></i>
		<div class="text text-laptop " >开发，配置workspace</div>
		<i class="fa fa-lightbulb-o light " aria-hidden="true"></i>
	</div>
	<i class="fa fa-file-code-o chrome " aria-hidden="true" ></i>
	<i class="fa fa-jsfiddle jsfiddle " aria-hidden="true" ></i>
	<div class="text text1 " >git checkout</div>
	<div class="text text2 " >部署/运行</div>
	<div class="text text3 " >git checkout</div>
	<div class="text text4 " >npm install</div>
	<div class="text text5 " >npm publish</div>
	<img class="dev-svg " src="assets://@dr/doc-home/dev/arrow1.svg" >
	<img class="dev-svg " src="assets://@dr/doc-home/dev/arrow2.svg" >
	<img class="dev-svg " src="assets://@dr/doc-home/dev/arrow3.svg" >
	<img class="dev-svg " src="assets://@dr/doc-home/dev/arrow4.svg" >
	<img class="dev-svg " src="assets://@dr/doc-home/dev/arrow5.svg" >
</div>