<div class="screen screen-func screen-features">
	<h2>Features</h2>
  <ul class="list">
    <li class="item">
      <span class="hk-icon hk-icon-addon icon-green icon-md"></span>
      <h4>Chunk</h4>
      <div class="info">chunk</div>
    </li>
    <li class="item">
      <span class="hk-icon hk-icon-data icon-green icon-md"></span>
      <h4>Cross multiple projects</h4>
      <div class="info">cross multiple projects, share chunk</div>
    </li>
    <li class="item">
      <span class="hk-icon hk-icon-buildpack icon-green icon-md"></span>
      <h4>Component/Module</h4>
      <div class="info">component/module</div>
    </li>
    <li class="item">
      <span class="hk-icon hk-icon-sync icon-green icon-md"></span>
      <h4>Continuous delivery</h4>
      <div class="info">test, end to end test</div>
    </li>
    <li class="item">
      <span class="hk-icon hk-icon-connect icon-green icon-md"></span>
      <h4>Deployment by install component package and recipe (group) package</h4>
      <div class="info"></div>
    </li>
    <li class="item">
      <span class="hk-icon hk-icon-spaces icon-green icon-md"></span>
      <h4>Private component store with NPM server</h4>
      <div class="info"></div>
    </li>
    <li class="item">
      <span class="hk-icon hk-icon-pipelines icon-green icon-md"></span>
      <h4>i18n</h4>
      <div class="info"></div>
    </li>
    <li class="item">
      <span class="hk-icon hk-icon-cli icon-green icon-md"></span>
      <h4>预编译模板渲染</h4>
      <div class="info"></div>
    </li>
    <li class="item">
      <span class="hk-icon hk-icon-dyno icon-green icon-md"></span>
      <h4>组件的依赖替换和注入</h4>
      <div class="info"></div>
    </li>
  </ul>
</div>
