<div class="screen has-md screen-package">
	<header>@dr 组件包结构</header>
	<div class="markdown-body dr-include-anim" ng-include="'package.md'"></div>
</div>
<div class="screen has-md screen-project">
	<header>项目和组件组合</header>
	<div class="markdown-body dr-include-anim" ng-include="'project-recipe.md'"></div>
</div>
<div class="screen has-md screen-workspace">
	<header>Workspace</header>
	<div class="markdown-body dr-include-anim" ng-include="'workspace.md'"></div>
</div>
<div class="screen has-md screen-chunk">
	<header>需要写文档的内容</header>
	<div class="markdown-body dr-include-anim" ng-include="'chunk-config-api.md'"></div>
</div>
