<div dr-scrollable-anim="introVm.scrollableAnim">
	<div class="screen screen-bground"></div>
	<div class="screen dr-bg-lite screen-1">
		<div class="center-box">
			<h2 class="t"
				dr-split-text-show="introVm.animStart" duration="0.6" timeline="introVm.screen1Timeline" on-split-done="mainVm.loaded = true">为了支撑越来越多的业务和新idea</h2>
			<h1 class="t" timeline="introVm.screen1Timeline" timeline-pos="+=0.5"
				dr-split-text-show="introVm.animTimeline" duration="0.6">我们需要一个Web<span class="keyword">平台</span>
			</h1>
		</div>
	</div>
	<div class="screen screen-2">
		<div class="center-box">
			<div class="big-text t" dr-text-anim="introVm.showScreen2Text" duration="1.1" timeline="introVm.screen2Timeline">一个可以复用和分享公共组件的平台</div>
			<div class="big-text t" dr-text-anim="introVm.showScreen2Text" timeline-pos="+=0.8" duration="1.2" timeline="introVm.screen2Timeline">可以组合我们不同的产品以及微小Web应用的工具</div>
			<div class="big-text t" dr-text-anim="introVm.showScreen2Text" timeline-pos="+=0.8" duration="1.2" timeline="introVm.screen2Timeline">可以细分组件的Ownership的开发模式</div>
			<div class="big-text t" dr-text-anim="introVm.showScreen2Text" timeline-pos="+=0.8" duration="1" timeline="introVm.screen2Timeline">可以实现跨团队跨项目合作</div>
			<div class="big-text t" dr-text-anim="introVm.showScreen2Text" timeline-pos="+=0.8" duration="1" timeline="introVm.screen2Timeline">优化Web性能的部署和开发工具</div>
			<div class="big-text t" dr-text-anim="introVm.showScreen2Text" timeline-pos="+=0.8" duration="1.2" timeline="introVm.screen2Timeline">强调自动化测试环节和对持续集成的拥抱的工具</div>
			<div class="big-text t" dr-text-anim="introVm.showScreen2Text" timeline-pos="+=0.8" duration="1.2" timeline="introVm.screen2Timeline"
					>每一个想得到的功能都是一个组件package</div>
		</div>
	</div>
	<div class="screen screen-3">
		<div class="center-box">
			<h1 class="big-text t" dr-text-anim="introVm.showScreen3Text" duration="1" timeline="introVm.screen3Timeline"
				>All your packages are belong to us! :)</h1>
<pre class="puppy">\   ^__^
 \  (oo)\_______
    (__)\       )\/\
        ||----w |
        ||     ||</pre>
		</div>
	</div>
</div>
