<div dr-scrollable-anim="introVm.scrollableAnim">
	<div class="screen dr-bg-lite screen-1">
		<div class="parallex-layer scr-1">
			<div class="center-box">
				<h1 t dr-split-text-show="introVm.animStart" timeline="introVm.screen1Timeline"
					on-split-done="mainVm.loaded = true"><span class="keyword">DR </span>component package
				</h1>
				<h2 t dr-split-text-show timeline="introVm.screen1Timeline" timeline-pos="0"
					on-split-done="mainVm.loaded = true">点融Web组件包平台
				</h2>
				<div t dr-split-text-show
					timeline="introVm.screen1Timeline" timeline-pos="0"
					duration="0.6">跨项目管理和复用Node package组件
				</div>
				<div t dr-split-text-show timeline="introVm.screen1Timeline" timeline-pos="0"
					duration="0.6">合并打包和部署你的Web项目
				</div>
			</div>
		</div>
	</div>
	<div class="screen screen-func">
		<div class="func-dev">
			<i class="fa fa-laptop"></i>
			<h2>开发</h2>
			多项目合并, 组件共享, 测试
		</div>
		<div class="func-deploy">
			<i class="hk-icon hk-icon-deploy"></i>
			<h2>部署</h2>
			打包编译静态Web资源, 配置管理, 上传CMS, 持续集成
		</div>
		<div class="func-nodeserver">
			<i class="fa fa-server"></i>
			<h2>Node HTTP Server</h2>
			运行Express middleware, router组件
		</div>
		<div class="func-npm">
			<i class="hk-icon hk-icon-spaces"></i>
			<h2>Private NPM registry server</h2>
			发布, 安装, 管理组件包
		</div>
	</div>
	{% include "dev.html" %}
	{% include "features.html" %}
	{% include "computer.html" %}
	<div class="screen screen-3rdparty">
		<header>
			<img class="brands" src="assets://@dr/doc-home/brands/nodejs.svg">
			<svg class="brands" viewBox="0 0 18 7">
				<path fill="#CB3837" d="M0,0v6h5v1h4v-1h9v-6"></path>
				<path fill="#FFF" d="M1,1v4h2v-3h1v3h1v-4h1v5h2v-4h1v2h-1v1h2v-4h1v4h2v-3h1v3h1v-3h1v3h1v-4"></path>
			</svg>
			<img class="brands" src="assets://@dr/doc-home/brands/webpack.png">
			<img class="brands" src="assets://@dr/doc-home/brands/express.png">
			<img class="brands" src="assets://@dr/doc-home/brands/gulp-2x.png">
			<img class="brands" src="assets://@dr/doc-home/brands/wizard_hat_blue.png">
			<img class="brands" src="assets://@dr/doc-home/brands/jasmine.svg">
		</header>
		<!--<div class="center-box">
			<div class="big-text t" dr-text-anim="introVm.showScreen2Text" duration="1.1" timeline="introVm.screen2Timeline">一个可以复用和分享公共组件模块的平台</div>
			<div class="big-text t" dr-text-anim="introVm.showScreen2Text" timeline-pos="+=0.8" duration="1.2" timeline="introVm.screen2Timeline">支撑跨越团队，跨越多个产品线的模块复用方案</div>
			<div class="big-text t" dr-text-anim="introVm.showScreen2Text" timeline-pos="+=0.8" duration="1" timeline="introVm.screen2Timeline">不仅仅是浏览器，还有NodeJS</div>
			<div class="big-text t" dr-text-anim="introVm.showScreen2Text" timeline-pos="+=0.8" duration="1" timeline="introVm.screen2Timeline">插件式可扩展Web产品</div>
			<div class="big-text t" dr-text-anim="introVm.showScreen2Text" timeline-pos="+=0.8" duration="1" timeline="introVm.screen2Timeline">优化性能的部署和开发工具</div>
			<div class="big-text t" dr-text-anim="introVm.showScreen2Text" timeline-pos="+=0.8" duration="1.2" timeline="introVm.screen2Timeline">强调自动化测试环节和对持续集成的拥抱的工具</div>
			<div class="big-text t" dr-text-anim="introVm.showScreen2Text" timeline-pos="+=0.8" duration="1.2" timeline="introVm.screen2Timeline"
					>每一个想得到的功能都是一个组件化的Node package</div>
		</div>-->
	</div>
	<div class="screen screen-3">
		<div class="center-box">
			<h1 class="big-text t" dr-text-anim="introVm.showScreen3Text" duration="1" timeline="introVm.screen3Timeline"
				>May the packages be with you!</h1>
<pre class="puppy">\   ^__^
 \  (oo)\_______
    (__)\       )\/\
        ||----w |
        ||     ||</pre>
		</div>
	</div>
</div>