.main-section {
	position: absolute;
	left: @dr-unit-triple;
	right: 0;
	height: 100%;
	overflow-x: scroll;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
}

.screen {
	height: 100%;
	width: 100%;
	text-align: center;
	.keyword {
		color: @dr-green;
	}
	.keyword-blue {
		color: @dr-blue;
	}
	&:after{
	     vertical-align:middle;
	     content: "";
	     display: inline-block;
	     width: 0;
	     font-size: 0;
	     height: 100%;
	}
}

.screen-bground {
	z-index: -1;
	opacity: 0.3;
	position: fixed;
	background-image: url(assets://@dr/poc-home/bg-photo-ocean.jpg);
	background-size: cover;
}

.center-box{
	display: inline-block;
	vertical-align: middle;
	text-align: left;
}

// override dr less
h1 > span {
	top: 0;
	position:static;
}
